*{
    margin: 0;
    padding: 0;
}
.box{
    width: 300px;
    height: 300px;
    background: #E7E7E7;
    border-radius: 10px;
    border:2px solid #000;
    margin: 5px;
    float: left;

}
.item{
    width: 80px;
    height: 80px;
    background: #000000;
    border-radius: 50%;
    margin: 10px;
}
.box1{
    display: flex;
    justify-content: flex-start;
}
.box2{
    display: flex;
    justify-content: center;
}
.box3{
    display: flex;
    justify-content: flex-end;
}
.box4{
    display: flex;
    align-items: flex-start;
}
.box5{
    display: flex;
    align-items: center;
}
.box6{
    display: flex;
    align-items: flex-end;
}
.box7{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box8{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.box9{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.box10{
    display: flex;
    justify-content: space-between;
}
.box11{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box12{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box13{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.box14{
    display: flex;
}
.box14 .item:nth-child(2){
    align-self: center;
}
.box15{
    display: flex;
    justify-content: space-between;
}
.box15 .item:nth-child(2){
    align-self: flex-end;
}
.box16{
    display: flex;
    justify-content: space-between;
}
.box16 .item:nth-child(2){
    align-self: center;
}
.box16 .item:nth-child(3){
    align-self: flex-end;
}
.box17{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}
.box18{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

 }
.box18 .column{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

}
.box19{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.box20{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.box21{
    display: flex;
    flex-wrap: wrap;
}
.box21 .column{
    display: flex;
    flex-basis: 100%;
}
.box21 .column:nth-child(2){
     justify-content: center;
 }
.box21 .column:nth-child(3){
    justify-content: space-between;
}
.box22{
    display: flex;
    flex-wrap: wrap;

}